.container{
    border:2px solid blue;
    position: relative;
}

nav{
    border:2px solid red;
    display:flex;
    background-color: #fff;
    padding: 0.5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.logo_section{
    //border:2px solid green;
    display:flex;
    align-items:center;
    gap: 2%;
    width: 15%;
}
.logo{
    border:2px solid yellow;
    width: 70px;
    height: 70px;
}
.logo img{

}
.logo p{

}


.search_section{
    //border: 2px solid orange;
    width: 60%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.search_wrapper{
    border: 2px solid blue;
    display:flex;
    width: 60%;
    height: 70%;
    border-radius: 10px;
}
.search_icon_wrapper{
    //border: 2px solid red;
    width: 10%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.search_icon{

}
.search_input{
    //border: 2px solid green;
    width: 90%;
}
.search_input input{
    width: 100%;
    height: 100%;
    border:none;
    outline:none;
    border-radius: 10px;
}



.profile_section{
    //border: 2px solid purple;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.notification_section{
    //border: 2px solid red;
    position: relative;
}


.notification_icon_wrapper{
    //border: 2px solid green;
}
.notification_icon{
    font-size: 2.3rem;
}
.notification_count{
    //border: 2px solid blue;
    position: absolute;
    top:0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF2C2C; 
}
.notification_count p{
    color: #fff;
}


.profile_wrapper{
    //border: 2px solid orange;
    display: flex;
    align-items: center;
    gap: 2%;
    width: 50%;
}
.profile_image{
    border: 2px solid blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile_image img{

}
.profile_wrapper p{

}


.spacer{
    //border: 2px solid green;
    height: 90px;
}


.main{
    border: 2px solid green;
    display: flex;
    height: 89vh;
}

.sidebar{
    border: 2px solid red;
    width: 20%;
}


.content{
    border: 2px solid blue;
    width: 80%;
}

